<a href="https://colab.research.google.com/github/vinodnbhat/AIML-CEP-2021-Assignments/blob/main/NaiveBayesClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

sample_data = pd.read_csv('https://raw.githubusercontent.com/vinodnbhat/AIML_CEP_2021/main/data/dataset.csv', index_col = False)

sample_data

  Temp gt 100 Travel to foreign country  ... Antibodies in blood Disease presence
0         Yes                       Yes  ...                 Yes              Yes
1          No                       Yes  ...                 Yes              Yes
2         Yes                        No  ...                  No              Yes
3         Yes                        No  ...                 Yes              Yes
4          No                        No  ...                 Yes               No
5          No                       Yes  ...                  No               No
6          No                       Yes  ...                 Yes               No
7         Yes                       Yes  ...                  No               No

[8 rows x 5 columns]

In [6]:
sample_data['Disease presence']

0    Yes
1    Yes
2    Yes
3    Yes
4     No
5     No
6     No
7     No
Name: Disease presence, dtype: object

In [8]:
(sample_data.loc[sample_data['Disease presence'] == 'Yes'])[['Temp gt 100', 'Disease presence']]

  Temp gt 100 Disease presence
0         Yes              Yes
1          No              Yes
2         Yes              Yes
3         Yes              Yes

P(x1 = Yes | Y = Yes) = 3/4

In [9]:
(sample_data.loc[sample_data['Disease presence'] == 'Yes'])[['Travel to foreign country', 'Disease presence']]

  Travel to foreign country Disease presence
0                       Yes              Yes
1                       Yes              Yes
2                        No              Yes
3                        No              Yes

P(x2 = Yes | Y = Yes) = 2/4

In [10]:
(sample_data.loc[sample_data['Disease presence'] == 'Yes'])[['Cough', 'Disease presence']]

  Cough Disease presence
0    No              Yes
1   Yes              Yes
2   Yes              Yes
3   Yes              Yes

P(x3 = Yes | Y = Yes) = 3/4

In [11]:
(sample_data.loc[sample_data['Disease presence'] == 'Yes'])[['Antibodies in blood', 'Disease presence']]

  Antibodies in blood Disease presence
0                 Yes              Yes
1                 Yes              Yes
2                  No              Yes
3                 Yes              Yes

P(x4 = Yes | Y = Yes) = 3/4

Thus $P((X_1,X_2,X_3,X_4)=(\text{Yes,Yes,Yes,Yes})|Y=\text{Yes}) = 0.75 \times 0.5 \times 0.75 \times 0.75 = 0.2109375$

Now we can compute $P(Y=\text{Yes}|X=x)$ as a quantity proportional to $P(X=x|Y=\text{Yes}) P(Y=\text{Yes}) = 0.2109375 \times 0.5$

In [12]:
(sample_data.loc[sample_data['Disease presence'] == 'No'])[['Temp gt 100', 'Disease presence']]

  Temp gt 100 Disease presence
4          No               No
5          No               No
6          No               No
7         Yes               No

P(x1 = Yes | Y = No) = 1/4

In [13]:
(sample_data.loc[sample_data['Disease presence'] == 'No'])[['Travel to foreign country', 'Disease presence']]

  Travel to foreign country Disease presence
4                        No               No
5                       Yes               No
6                       Yes               No
7                       Yes               No

P(x2 = Yes | Y = No) = 3/4

In [14]:
(sample_data.loc[sample_data['Disease presence'] == 'No'])[['Cough', 'Disease presence']]

  Cough Disease presence
4    No               No
5   Yes               No
6    No               No
7    No               No

P(x3 = Yes | Y = No) = 1/4

In [15]:
(sample_data.loc[sample_data['Disease presence'] == 'No'])[['Antibodies in blood', 'Disease presence']]

  Antibodies in blood Disease presence
4                 Yes               No
5                  No               No
6                 Yes               No
7                  No               No

P(x4 = Yes | Y = No) = 2/4

Thus  P((X1,X2,X3,X4)=(Yes,Yes,Yes,Yes)|Y=No)=0.25×0.75×0.25×0.5=0.0234375

Now we can compute P(Y=No|X=x) as a quantity proportional to  P(X=x|Y=No)P(Y=No)=0.0234375×0.5

So label predicted for x is Yes